*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
}

/* header */
header{
    position: fixed;
    width: 100%;
    z-index:800;
}
/* header-top */
.top{
    background-color: black;
    height: 50px;
    width: 100%;
    
   
}


/* inizio sezione returnal */
.sezione-returnal{
    margin-top:150px;
}

.returnal-big{
    width:100%;
    position: relative;
    
   
    
   
}
.posizione-testo{
    position: relative;
}
.returnal-logo-text{
    position: absolute;
    top:30%;
    left:11%;
    height: 10%;
     
}


.returnal-text{
    color:white;
    position: absolute;
    top:50%;
    left:10%;
   
}

.returnal-long-text{
    color:white;
    position: absolute;
    top:60%;
    left:10%;
    max-width: 30%;
    font-size: 13px;
   
}
.returnal-button{
    color:white;
    position: absolute;
    top:80%;
    left:10%; 
    cursor: pointer;
    background-color: red;
    padding: 6px;
    border-radius: 15px;
    font-size: 14px;
}
@media screen and (max-width:992px) {
    .returnal-button{
        font-size:12px;
        padding:5px;
        margin-bottom:10%;


    }
    .returnal-long-text{
      font-size: 12px;
      max-width:40%;
      
     

    }
    .returnal-text{
        font-size:14px;
    }
    
}

@media screen and (max-width:768px){
    .returnal-button{
        font-size:13px;
        padding:5px;
        
        margin-left: 40%;


    } 
    
}


/* navbar */
.navbar-light .navbar-nav .nav-link{
    color: black;
    margin-left: 10px;
}
.navbar-light .navbar-text{
    color:black;
}
.myplay-nav{
    margin-right: 20px;
}
.accedi-nav{
    margin-bottom:0;
    margin-right:20px;
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 7px 9px;
    border-radius: 16px;
}
.iconav{
    margin-bottom:0;
    margin-right:20px;
}
.return-ratch{
    width:95%;
}
.img-rotonda{
    border-radius: 15px;
}
.img-bordo{
    border: 2px solid rgb(0, 60, 255);
    padding: 2px;
}

/* sezione ecco la ps5 */

.text-blue{
    color: rgb(0, 89, 255);
}
.text-gray{
    color:rgb(85, 83, 83);
    margin-left: 2%;
}

.ps5-foto{
    height:100%;
    width:100%;
    
}

.small-foto{
    width: 100%;
    
     
}
.piccole-foto-console{
    justify-content: space-around;
}
.bordo-sotto{
    border-bottom: 2px solid blue;
}
.informazioni-button{
    background-color: blue;
    width: 170px;
    border-radius: 15px;
    color: white;
    padding: 3px;
    cursor: pointer;
}
.informazioni-button:hover{
    opacity: 0.5;
}
/* inizio sezione takes two */

.takes-big{
    width: 100%;
    position: relative;
    height:100%;
    overflow:hidden;
    
   
}
.takes-text{
    color:white;
    position: absolute;
    top:47%;
    left:5%;
    font-size: 14px;
   
}

.takes-long-text{
    color:white;
    position: absolute;
    top:65%;
    left:5%;
    font-size: 15px;
   
}
.takes-button{
    color:white;
    position: absolute;
    top:90%;
    left:5% ;
    cursor: pointer;
   
}
.takes-logo{
    position: absolute;
    top:15%;
    left:5% ;
    height: 30%; 
}
.takes-button{
    background-color: orangered;
    color:white;
    padding: 7px;
    font-size:13px;
    border-radius:15px;
}

@media screen and (max-width:992px) {
    .takes-long-text{
        font-size:11px;
       
        
    }
    .takes-text{
        color:white;
        position: absolute;
        top:47%;
        left:5%;
        font-size: 13px;
       
    }
    .takes-button{
        
        padding: 6px;
        font-size:7px;
        
        
    }
    
}
@media screen and (max-width:768px) {
    .takes-button{
        
        padding: 6px;
        font-size:11px;
        
        position: absolute;
        top:85%;
        left:45%;
        
    }  
    
}

/* inizio sezione nuove uscite */
.new{
    background-color: black;
    color: white;
}
.new-descrizione{
    color:white
}

/* inizio sezione esplora */
.scritte-grigie{
color:rgb(66, 65, 65);
}
.container-esplora{
    width:95%;
}
.button-scopri{
    background-color: blue;
    width: 95px;
    padding: 7px 4px;
    border-radius: 15px;
    color:white;
    font-size: 14px;
    cursor: pointer;
}

/* inizio sezione play station plus */
.play-station-plus{
    background-color: gray;
    
}
.img-plus{
    width: 50%;
    margin-top: 20%;
    margin-left: 3%;
    
}
.desc-plus{
    margin-left: 5%; 
    margin-top: 4%;  
}
.plus-button{
    background-color: rgb(199, 191, 191);
    width: 190px;
    padding: 5px 2px;
    border-radius: 18px;
    color:blue;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .plus-fotografia{
        display:none;
    }
    .desc-plus{
         width:80%;
    }
    .img-plus{
        
        margin-top: 5%;
        margin-left: 3%;
        
    }
    .plus-button{
        background-color: rgb(199, 191, 191);
        margin-left:5%;
        
    }

    
}

/* inizio sezione play station now */

.play-now{
    background-color: blue;
}
.desc-now{
    color:white;
}
.now-button{
    background-color: rgb(199, 191, 191);
    width: 190px;
    padding: 6px 2px;
    border-radius: 18px;
    margin-left: 5%;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5%;
    color:black;
}
@media screen and (max-width:768px) {
    .now-fotografia{
        display:none;
    }
    
}

/* inizio sezione segici sui social */
.container-social{
    max-width:60%;
    margin:auto;
}

/* footer */
footer{
    background-color: blue;
}
.footer-logo{
    height: 70px;
    max-width:32%;
}
.footer-logo-up{
    margin-left:1%;
    margin-bottom: 4%;
    
    color:white;
}
.footer-logo-down{
    margin-left:5%;
    height: 40px;
    margin-bottom:10%;
}
.footer-logo-text{
    margin-left: 8%;
    margin-bottom: 12%;
    color: white;
    vertical-align: middle;
    
}
.globo{
    vertical-align: middle;
}
.footer-list li{
    color:white;
    cursor:pointer;
}
.footer-logo-end{
    margin-left:-2%;
    height: 40px;
    display:none;
}
.descrizione-end{
    display:none;
    color:white;
}
@media screen and (max-width:992px) {
    .footer-logo-text{
        margin-left: 8%;
        margin-bottom: 0%;
        color: white;
        vertical-align: middle;
        
    } 
    .footer-logo-down{
      display:none;
    } 
    .footer-logo-end{
        display:block;
        
    }
    .descrizione-end{
        display:block;
        margin-top:2%;
        padding:20px 20px;
    }
    
}
