*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}

/* header */

/* header-top */
.top{
    background-color: black;
    height: 50px;
    width: 100%;
    
   
}


/* inizio sezione returnal */

.returnal-big{
    max-width: 100%;
    position: relative;
    
   
}
.posizione-testo{
    position: relative;
}


.returnal-text{
    color:white;
    position: absolute;
    top:70%;
    left:10%
   
}

.returnal-long-text{
    color:white;
    position: absolute;
    top:80%;
    left:10%
   
}
.returnal-button{
    color:white;
    position: absolute;
    top:90%;
    left:10% 
}

/* sezione ecco la ps5 */

.ps5-foto{
    height:100%;
    width:100%;
    
}

.small-foto{
    width: 100%;
    
     
}
.piccole-foto-console{
    justify-content: space-around;
}
.bordo-sotto{
    border-bottom: 2px solid blue;
}
